# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.suo
*.cache
*.ilk
*.log
*.pdb
*.exe
*.dll
*.app
*.appx
*.nupkg
project.lock.json
project.fragment.lock.json
packages/
packages.lock.json
*.dbmdl
*.backup
*.msscci
TestResults/
*.trx
*.core
*.vspscc
*.vssscc
.vs/
.vscode/

# SQLite
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
*.sqlite-wal
*.sqlite-shm
